div{
    text-align: center;
}
.vertical{
    text-align: left; /*Выравнивание текста в лево*/
    float: left; /*Див в лево для контента с права*/
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-right: 15px;
}
.menu-link, .menu-link:visited{
    color: rgb(255, 255, 255); /*Цвет ссылок горизонтального и вертикального меню на 1 стр*/ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
}
.menu-link:hover{
    color: #808080;
}
.btn-up{
    text-align: left; /*Выравнивание текста в лево*/
    background: rgb(0, 0, 0); /*Цвет фона*/
    color: rgb(255, 255, 255); /*Цвет текста*/
    clear: both; /*див с новой строки*/
}
.menu{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    padding: 10px 0px 10px 0px; /*Отступ внутренний с верху и с низу*/
    margin: 0px 0px 10px 0px; /*Отступ внешний с низу */
}
header{
    margin-bottom: 10px;
    text-align: center;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 107px 0px 107px 0px;
}
.content{
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin-left: 200px;
    text-align: left;
}
.wrapper{
    width: 80%;
    margin:0 10% 0 10%;
}
img{
    border: 3px dotted rgb(0, 0, 0); /*Цвет оконтовки картинок*/
} 
.tr1 td{
    background: #808080;
    color: rgb(255, 255, 255)  
} 
